@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font :"HGゴシック M メディウム",
"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
Verdana,
"ＭＳ Ｐゴシック",
sans-serif;
$base: #f9f8f6;
$sub: #ffffff;
$key: #887f69;

body {
    background-color: $base;
    font-family: arial, "HGゴシック M メディウム";
    font-weight: bold;
    @include fontsize(12);
    color: #404040;
}

p {
    margin-bottom: 0;
}

ul{
   margin-bottom: 0;   
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
// body

header {
    h1 {
        margin-bottom: 0;
        a {
            display: inline-flex;
            @media (min-width: 551px) {
                img {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
                .sp {
                    display: none;
                }
            }
            @media (max-width: 550px) {
                img {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .pc {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 550px) {
        text-align: center;
        .sp_navi {
            margin-bottom: 0;
            li {
                display: inline-block;
                list-style: none;
                margin-bottom: 0;
                img {
                    margin-bottom: 15px;
                }
                #menu {
                   position: relative;

                }
                .sp_menu_toggle {
                    display: none;
                    z-index: 100;
                    
                }
                .sp_navi_li {
                    width: 100%;
                    position: absolute;
                    top: 85px;
                    right: 0;
                    background: #ff6d77;
                    margin: 0;
                    padding: 0;
                    
                    
                    li {
                        display: block;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        a {
                            text-align:left;
                            display: block;
                            padding: 10px 25px 13px 25px;
                            border-bottom: 1px solid $sub;
                            font-size: 15px;
                            text-decoration: none;
                            color: $sub;
                            margin-left: 20px;
                            margin-right: 20px;
                            font-weight: normal;
                        }
                        .first{
                            padding-top: 22px;
                        }
                        .last{
                            padding-bottom: 30px;
                            border-bottom: 1px solid #ff6d77;
                        }
                    }
                }
            }
        }
        .pc_navi {
            display: none;
        }
    }
    @media (min-width: 551px) {
        .pc_navi {
            margin: 0;
            display: flex;
            justify-content: flex-end;
            li {
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    .pc_navi_link {
                        padding-right: 20px;
                        margin-top: 70px;
                        margin-bottom: 32px;
                    }
                    .pc_navi_icon {
                        padding-right: 10px;
                    }
                    .icon {
                        margin-top: 60px;
                        margin-bottom: 32px;
                    }
                }
            }
        }
        .sp_navi {
            display: none;
        }
    }
}
//header

#ca_banner {
    .owl-theme {
        .owl-dots {
            margin-top: 0;
            button {
                margin: 0;
                float: left;
            }
            .owl-dot {
                span {
                    width: 25px;
                    height: 2px;
                    background-color: #524c3e;
                }
                @media (min-width: 551px) {
                    span {
                        margin: 15px 10px 40px 0;
                    }
                }
                @media (max-width: 550px) {
                    span {
                        margin: 10px 10px 20px 0;
                    }
                }
            }
            .active {
                span {
                    background-color: #9d1a2d;
                }
            }
        }
    }
}

#new_items {
    .item_box {
        float: left;
        background-color: $sub;
    }
    @media (min-width: 551px) {
        .new_items_title {
            margin: 0 auto 27px;
            img {
                box-sizing: border-box;
                max-width: 100%;
            }
        }
        .sp {
            display: none;
        }
        .wrapper {
            .item_box {
                width: calc(100% / 3 - 2px);
                box-sizing: border-box;
                padding: 13px 13px 25px 13px;
                margin-right: 3px;
                img {
                    margin-bottom: 13px;
                }
                .price {
                    margin-top: 20px;
                }
            }
            .box_3 {
                margin-right: 0;
            }
            .box_upper {
                margin-bottom: 3px;
            }
            img {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 550px) {
        img {
            margin: 0 auto 15px;
            display: block;
        }
        .pc {
            display: none;
        }
        .wrapper {
            .item_box {
                margin-right: 1px;
                margin-bottom: 1px;
                width: calc(100% / 2 - 1px);
                box-sizing: border-box;
                padding: 10px 10px 20px 10px;
                .price {
                    margin-top: 15px;
                }
            }
            .box_2 {
                margin-right: 0;
            }
            .box_bottom {
                margin-bottom: 0;
            }
        }
    }
}
//#new_items

#popular_items {
    .item_box {
        float: left;
        background-color: $sub;
    }
    @media (min-width: 551px) {
        img {
            margin: 30px auto 27px;
            display: block;
        }
        .sp {
            display: none;
        }
        .wrapper {
            .item_box {
                width: calc(100% / 3 - 2px);
                box-sizing: border-box;
                padding: 13px 13px 25px 13px;
                margin-right: 3px;
                img {
                    margin-bottom: 13px;
                }
                .price {
                    margin-top: 20px;
                }
            }
            .box_3 {
                margin-right: 0;
            }
            .box_upper {
                margin-bottom: 3px;
            }
            img {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 550px) {
        img {
            margin: 15px auto 15px;
            display: block;
        }
        .wrapper {
            .item_box {
                margin-right: 1px;
                margin-bottom: 1px;
                width: calc(100% / 2 - 1px);
                box-sizing: border-box;
                padding: 10px 10px 20px 10px;
                .price {
                    margin-top: 15px;
                }
            }
            .box_2 {
                margin-right: 0;
            }
            .box_bottom {
                margin-bottom: 0;
            }
        }
        .pc {
            display: none;
        }
    }
}
//#popular_items

#title_guide {
    .big {
        margin: 0;
        color: $key;
        @include fontsize(15);
    }
    .guide_box {
        background-color: $sub;
        .key_c {
            color: $key;
        }
        .tglClose {
            display: inline-block;
            overflow: hidden;
            width: 1.1rem;
            height: 1.1rem;
            background-color: $key;
            top: 1px;
            position: relative;
            margin-right: 1px;
        }
    }
    @media (min-width: 551px) {
        .pc {
            margin: 30px auto 27px;
            display: flex;
            justify-content: flex-end;
        }
        .sp {
            display: none;
        }
        .guide {
            display: flex;
            .guide_box1 {
                margin-right: 3px;
            }
            .guide_box {
                width: (100%/2);
                .big {
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                p {
                    padding-left: 20px;
                }
                .title {
                    padding-bottom: 15px;
                }
                .text {
                    padding-bottom: 20px;
                }
                .last {
                    padding-bottom: 30px;
                }
                img {
                    padding-left: 20px;
                    padding-bottom: 15px;
                }
            }
        }
    }
    @media (max-width: 550px) {
        .sp {
            margin: 15px auto 15px;
            display: block;
        }
        .pc {
            display: none;
        }
        .guide {
            .guide_box1 {
                margin-bottom: 5px;
            }
            .guide_box {
                .big {
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                p {
                    padding-left: 20px;
                }
                .title {
                    padding-bottom: 12px;
                }
                .text {
                    padding-bottom: 20px;
                }
                .last {
                    padding-bottom: 35px;
                }
                img {
                    padding-left: 20px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}
//#title_guide

#item_search {
    p {
        margin: 0;
    }
    .item_search_box {
        padding: 20px;
        background-color: $sub;
        .title {
            color: $key;
        }
        .search_box {
            background-color: #eeeeee;
            margin-top: 12px;
            position: relative;
            height: 30px;
            p {
                color: #b5b5b5;
                padding-top: 8px;
            }
            img {
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }
    }
}
//#item_search

#pagelink {
    .pagelink_box {
        background-color: $key;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        .title {
            padding-top: 16px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
        .arrow {
            position: absolute;
            top: 16px;
            right: 12px;
        }
    }
}
//#pagelink

#categories {
    .categories_title_box {
        background-color: $key;
        position: relative;
        .title {
            padding-top: 16px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
        .arrow {
            position: absolute;
            top: 16px;
            right: 12px;
        }
    }
    .categories_box {
        background-color: $sub;
        position: relative;
        margin-bottom: 3px;
        p {
            padding-top: 16px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
        .arrow {
            position: absolute;
            top: 16px;
            right: 12px;
        }
    }
    .categories_box:last-child {
        margin-bottom: 10px;
    }
}
//#categories

#about {
    .about_title {
        background-color: $key;
        img {
            padding-top: 16px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
    }
    .about_box {
        background-color: $sub;
        padding: 12px 12px 20px 12px;
        .more {
            margin: 20px auto 0;
            display: block;
        }
    }
}
//#about

#shop_info {
    .shop_info_title {
        background-color: $key;
        img {
            padding-top: 16px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
    }
    .shop_info_box {
        background-color: $sub;
        padding: 12px 12px 20px 12px;
        .more {
            margin: 20px auto 0;
            display: block;
        }
    }
}
//#shop_info

footer {
    .pagetop {
        height: 90px;
        border-bottom: 1px solid $key;
        position: relative;
        margin-bottom: 35px;
        img {
            float: right;
            position: absolute;
            bottom: 20px;
            right: 0;
        }
    }
    .footer_navi {
        text-align: center;
        ul {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 0;
        }
        li {
            list-style: none;
            display: inline-block;
            box-sizing: border-box;
            a {
                color: #000;
                text-decoration: none;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .copy {
        text-align: center;
        @include fontsize(11);
        color: #b8b4ac;
        font-weight: normal;
    }
    @media (max-width: 550px) {
        .copy {
            margin-top: 15px;
            margin-bottom: 93px;
        }
    }
    @media (min-width: 551px) {
        .copy {
            margin-top: 30px;
            margin-bottom: 150px;
        }
    }
}
//footer


//list.htmlここから
#pankuzu_list {
    .pankuzu_box {
        background-color: #e8e4da;
        border-radius: 4px;
        margin-bottom: 10px;
        ul {
            margin-bottom: 0;
            li {
                display: inline-block;
                list-style: none;
                margin-bottom: 0;
                a {
                    text-decoration: none;
                    color: $key;
                    padding: 8px 10px 8px 10px;
                    display: block;
                    box-sizing: border-box;
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .cate_image {
        width: 100%;
        margin-bottom: 10px;
    }
}
//#pankuzu_list

#items {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .item_box {
            background-color: $sub;
        }
    }
    .b_box {
        background-color: $key;
        width: 120px;
        margin-top: 20px;
        float: left;
        a {
            text-decoration: none;
            color: $sub;
            padding: 8px 0 8px;
            text-align: center;
            display: block;
            box-sizing: border-box;
        }
    }
    .next {
        float: right;
    }
    @media (min-width: 551px) {
        img {
            margin: 30px auto 27px;
            display: block;
        }
        .wrapper {
            .item_box {
                width: calc(100% / 3 - 2px);
                box-sizing: border-box;
                padding: 13px 13px 25px 13px;
                margin-right: 3px;
                img {
                    margin-bottom: 13px;
                }
                .price {
                    margin-top: 20px;
                }
            }
            .box_3 {
                margin-right: 0;
            }
            .box_upper {
                margin-bottom: 3px;
            }
            img {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 550px) {
        margin-top: 25px;
        .wrapper {
            .item_box {
                margin-right: 1px;
                margin-bottom: 1px;
                width: calc(100% / 2 - 1px);
                box-sizing: border-box;
                padding: 10px 10px 20px 10px;
                .price {
                    margin-top: 15px;
                }
            }
            .box_2 {
                margin-right: 0;
            }
            .box_bottom {
                margin-bottom: 0;
            }
        }
    }
}
//#items

#recent_pro {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .item_box {
            background-color: $sub;
        }
    }
    @media (min-width: 551px) {
        img {
            margin: 30px auto 27px;
            display: block;
        }
        .sp {
            display: none;
        }
        .wrapper {
            .item_box {
                width: calc(100% / 3 - 2px);
                box-sizing: border-box;
                padding: 13px 13px 25px 13px;
                margin-right: 3px;
                img {
                    margin-bottom: 13px;
                }
                .price {
                    margin-top: 20px;
                }
            }
            .box_3 {
                margin-right: 0;
            }
            .box_upper {
                margin-bottom: 3px;
            }
            img {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 550px) {
        img {
            margin: 15px auto 15px;
            display: block;
        }
        .wrapper {
            .item_box {
                margin-right: 1px;
                margin-bottom: 1px;
                width: calc(100% / 2 - 1px);
                box-sizing: border-box;
                padding: 10px 10px 20px 10px;
                .price {
                    margin-top: 15px;
                }
            }
            .box_2 {
                margin-right: 0;
            }
            .box_bottom {
                margin-bottom: 0;
            }
        }
        .pc {
            display: none;
        }
    }
}
//#recent_pro

#products {
    .products_box {
        background-color: $sub;
    }
    .product_id {
        background-color: $sub;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e3e8cf;
        .product_name {
            @include fontsize(15);
        }
        .product_num {
            @include fontsize(10);
            color: #a6a6a6;
        }
    }
    .color_size {
        padding-top: 15px;
        margin-top: 10px;
        border-top: 1px solid #e3e8cf;

        table {
            width: 100%;
            color: #a6a6a6;
            table-layout: fixed;
            th {
                background-color: $base;
                text-align: center;
                border: solid 1px #e8e4da;
            }
            td {
                text-align: center;
                border: solid 1px #e8e4da;
            }
            th:last-child {
                    padding-right: 15px;
            }
            td:last-child {
                    padding-right: 15px;
            }
            .squre{
                   border: solid 1px #e8e4da;
                   width: 15px;
                   height: 15px;
                   margin: auto;
                }
        }
    } 
    @media (max-width: 550px) {
        .products_box {
            background-size: cover;
            margin-top: 20px;
            padding: 0;
            margin-left: calc(((100vw - 100%) / 2) * -1);
            margin-right: calc(((100vw - 100%) / 2) * -1);
        }
        
        #list_img {
            li {
                display: inline-block;
                width: calc(100% / 5);
                box-sizing: border-box;
                float:left;
                .box_5{
                    margin-right: 0;
                }
            }
        }
    }
    @media (min-width: 551px) {
        .product_id {
            padding-top: 40px;
            padding-bottom: 30px;
            margin-bottom: 20px;
            .product_name {
                float: left;
            }
            .product_num {
                float: right;
            }
        }
        #display_img{
            float:left;
            width:71%;
        }
        #list_img {
            display: flex;
            flex-wrap: wrap;
            width: 29%;
                li {
                    float: left;
            
            margin-bottom: 10px;
            margin-left: 3%;
            width: 46%;
            box-sizing: border-box;
            display: block;
            list-style: none;
            margin-bottom: 0;
        }
        .box_2 {
            margin-right: 0;
        }
        
            
        }
        .color_size {
            padding-top: 20px;
            margin-top: 20px;
            img {
                margin-bottom: 20px;
            }
            
        }
    }
    //.color_size
    
    .price {
        border-top: solid 1px #e8e4da;
        border-bottom: solid 1px #e8e4da;
        height: 70px;
        img {
            float: left;
            margin: 30px 70px 0 0;
        }
        .price_detail {
            float: left;
            padding-top: 22px;
            p {
                font-style: oblique;
                .yen {
                    color: #e80f66;
                }
                .value {
                    @include fontsize(18);
                    color: #e80f66;
                }
            }
        }
    } 
    //.price
    
    .quantity {
        border-bottom: solid 1px #e8e4da;
        height: 70px;
        img {
            float: left;
            margin: 30px 50px 0 0;
        }
        .quantity_box {
            float: left;
            width: 150px;
            height: 40px;
            border: solid 1px #e8e4da;
            margin-top: 15px;
        }
    } 
    //quantity
    
    @media (max-width: 550px) {
        .add_to_cart {
            margin: 15px auto 30px;
            display: block;
        }
    }
    .product_detail {
        .product_detail_h {
            color: $key;
            border-bottom: solid 1px $key;
            p {
                padding-bottom: 20px;
            }
        }
        .product_detail_text {
            .product_detail_title {
                color: $key;
                .tglClose {
                    display: inline-block;
                    overflow: hidden;
                    width: 1.1rem;
                    height: 1.1rem;
                    background-color: $key;
                    top: 1px;
                    position: relative;
                    margin-right: 1px;
                }
            }
        }
        table {
            width: 100%;
            color: #a6a6a6;
            table-layout: fixed;
            th {
                background-color: $base;
                text-align: center;
                border: solid 1px #e8e4da;
                width:33%;
            }
            td {
                border: solid 1px #e8e4da;
                width: 67%;
                }
            }
        @media (max-width: 550px) {
                .product_detail_h {
                    margin-top: 0;
                    margin-bottom: 20px;
                    p {
                        padding-top: 0;
                    }
                }
                .product_detail_text {
                    padding-bottom: 27px;
                    table {
                        span.sp_no {
                            display: none;
                        }
                    }
                }
                table {
                    th:first-child{
                        padding-left: 12px;
                    }
                    td:last-child{
                        padding-right: 12px;
                    }
                    span.sp_no {
                        display: none;
                    }
                }
        }
        @media (min-width: 551px) {
            .product_detail_h {
                margin-bottom: 30px;
                p {
                    padding-top: 40px;
                }
            }
            .product_detail_text {
                padding-bottom: 30px;
            }
        }
    }    
    //.product_detail 
    
}
//#products
